 @import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background-color: #2B00FF;
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
}

container {
	max-width: 1024px;
	display: block;
	margin: 0 auto;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #4669FF;
}

welcome h1 {
	font-size: 2.8rem;
}

welcome {
	text-align: center;
}

footer {
	font-size: 0.8rem;
	text-align: center;
}